@import "../../styles/variables.scss";

.pagination {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;

  &__buttons {
    display: flex;
    gap: 1rem;
  }
}

.pagination__buttons {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;

  .label {
    color: $black;
    font-size: $text-size;
    text-transform: uppercase;

    span {
      margin-left: 0.5rem;
    }
  }
}
