* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--page-back);
}

.header {
  padding: 2.5rem 0 3rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.note {
  padding: 0.3rem 1rem 0.5rem;
  position: absolute;
  top: 0;
  font-size: 1.3rem;
  background-color: var(--black);
  border-radius: 0 0 5px 5px;
  color: var(--white);
}

.link_button {
  height: 3rem;
  padding: 0 1rem;
  padding-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-back);
  border: 1px solid var(--button-border);
  border-radius: 2px;

  color: var(--black);
  font-size: var(--text-size);
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: var(--button-back-hover);
  }
}
